<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    RecipeBook
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" (click)="navClick($event)">Home</a> -->
      <a class="nav-item nav-link" href="#" (click)="navClick($event)">Recipes</a>
      <a class="nav-item nav-link" href="#" (click)="navClick($event)">Shopping</a>
    </div>
  </div>
</nav>
